<body>
  <div>

    <div id="divLogin" align="center">
      <div class="divAcessContainer"> 
        <h2> Inicia sesión para acceder</h2>  
        <fieldset>
         </fieldset> 
          <label for="correo">Correo</label>
          <input type="text" name="correo" ng-model="usuario.correo">
          <br><br>
          <label for="clave">Clave</label>
          <input type="password" name="clave" ng-model="usuario.clave">
          <br><br>

          <a class="btn btn-info " name="iniciarSesion" ng-click="iniciarSesion()" ><span class="glyphicon glyphicon-save">&nbsp;</span>iniciarSesion</a>
          
       </div>
     </div>
  </div>
</body>
